<h1>Create Crime Report</h1>
<%= form_for @crime_report do |f| %>
<div class = "form-group">
<%= f.label :address %>:
<%= f.text_field :address, placeholder: "#### Street name", class: 'form-control address-label' %><br />
</div>
<div class = "form-group">
<%= f.label :phonenumber %>:
<%= f.text_field :phonenumber, placeholder: "# Phone Number", class: 'form-control address-label' %><br />
</div>
<%= f.submit "Check for Crime", class: 'btn btn-success' %>
<% end %>
