<p id="notice"><%= notice %></p>
<h1>New crime report</h1>
</br>
<%= @address.address %>, Philadelphia PA
<br>
Geo Co-ords: <%= @lat %>, <%= @long %>

<%= render 'form' %>
<br>
<%= link_to 'Back', root_path %>
